@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color-light: #AACCA5;
    --primary-color: #6B8068;
    --primary-color-dark: #4B8042;
    --primary-color-dark-two: #2B801C;
    --secondary-color: white;
    --gap: 3rem;
    --primary-font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
p{
    font-size: 1.2rem;
}
footer{
    background-color: var(--primary-color-light);
    color: var(--secondary-color);
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color:var(--secondary-color);
}


/* Menu */
.menu{
    background: var(--primary-color-light);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    border-bottom: 0.2rem solid var(--primary-color);
    z-index:1;
    
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size:2.3rem;
}

.menu h1 a{ 
    
    color: var(--secondary-color);
    font-size:2.3rem;
    text-decoration: none;
    font-family: var(--primary-font-family);
    padding-left: 2rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {

    
    color:var(--secondary-color);
    font-family: var(--primary-font-family);
    text-decoration: none;
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a:hover {
    background-color: var(--primary-color);
    transition: all 300ms ease-in-out;
}

/* .menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: white;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
} */

.close-menu{
    display: none;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
}

.menu-spacing{
    height: 63px;
}

@media (max-width: 800px){
    .menu-spacing{
        display: none;
    }

    .menu{
        bottom: 0;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        
        justify-content: center;
    }
    .menu-content{
        height: 100vh;
    }
    .menu{
        display: none;
        text-align: center;
    }

    
    .close-menu-label::after{
        content: '≡';
        background: var(--primary-color);
        color: var(--secondary-color);
        position: fixed;
        z-index: 2;
        top: 2rem;
        right:2rem;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height:3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;

    }

    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }
}


/* Pagina vagas */
.foto img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.secao{
    height: 90vh;
    
}

.perfil {
    margin: 20px;
    height:200px;
    width: 400px;
    display: flex;
    justify-content: space-between ;
    padding: 20px;
    align-items: center;
    border-radius: 5%;
    background-color: var(--primary-color-light);
    border: solid 5px var(--primary-color)
}

.descricao {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.descricao h2, .descricao p {
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
}


.logos img{
    width: 40px;
    margin: 0px 5px;
}


.quem-somos {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    font-size: 3rem;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    margin: 20px;
}